.title {
  text-align: center;
  margin: 50px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.card {
  margin: 25px;
  border: 1.5px solid black;
  border-radius: 10px;
  background: rgb(211, 225, 241);
}

.card:hover {
  cursor: pointer;
}

.link {
  padding: 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: black;
}